#container {
  width: 600px;
   
  margin: 0 auto;

}
.drop-shadow {
  position: relative;
  float: left;
  width: 20%;
  
  height: 600px;
  padding: 1em;
 
 




background: rgba(19,19,19,1);
background: -moz-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 87%, rgba(10,1,10,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,19,19,1)), color-stop(13%, rgba(255,255,255,1)), color-stop(87%, rgba(255,255,255,1)), color-stop(100%, rgba(10,1,10,1)));
background: -webkit-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 87%, rgba(10,1,10,1) 100%);
background: -o-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 87%, rgba(10,1,10,1) 100%);
background: -ms-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 87%, rgba(10,1,10,1) 100%);
background: linear-gradient(to right, rgba(19,19,19,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 87%, rgba(10,1,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#0a010a', GradientType=1 );




  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -mox-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.drop-shadow:before,
.drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -2;
}

.drop-shadow1 {
  position: relative;
 
  margin-top: 27px;

  height: 200px;
  padding: 1em;
  
  background: -webkit-linear-gradient(90deg, #1C1C1C 10%, #494949 90%); 
  background: -moz-linear-gradient(90deg, #1C1C1C 10%, #494949 90%); 
  background: linear-gradient(270deg, #1C1C1C 10%, #494949 90%); 
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -mox-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.drop-shadow:before,
.drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -2;
}










.drop-shadow2 {
  position: relative;
  float: right;
  width: 68%;
  min-height: 200px;
  
  padding: 1em;
 
  

background: #603813; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #603813 , #b29f94); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #603813 , #b29f94); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.drop-shadow:before,
.drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -2;
}

.drop-shadow3 {
  position: relative;
  
  
 
  height: 10px;
  padding: 1em;
  margin: 5px 5px 5px 5px;
  


background: rgba(3,0,2,1);
background: -moz-linear-gradient(top, rgba(3,0,2,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 5%, rgba(18,12,15,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,0,2,1)), color-stop(5%, rgba(255,255,255,1)), color-stop(95%, rgba(255,255,255,1)), color-stop(100%, rgba(18,12,15,1)));
background: -webkit-linear-gradient(top, rgba(3,0,2,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 95%, rgba(18,12,15,1) 100%);
background: -o-linear-gradient(top, rgba(3,0,2,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 95%, rgba(18,12,15,1) 100%);
background: -ms-linear-gradient(top, rgba(3,0,2,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 95%, rgba(18,12,15,1) 100%);
background: linear-gradient(to bottom, rgba(3,0,2,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(18,12,15,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030002', endColorstr='#120c0f', GradientType=0 );

}
.drop-shadow:before,
.drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -2;
}







.drop-shadow p {
  font-size: 16px;
  font-weight: bold;
}
.lifted {
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.lifted:before,
.lifted:after {
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -mox-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.lifted:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.curled {
  border: 1px solid #efefef;
  -moz-border-radius: 0 0 120px 120px / 0 0 6px 6px;
  border-radius: 0 0 120px 120px / 0 0 6px 6px;
}
.curled:before,
.curled:after {
  bottom: 12px;
  left: 10px;
  width: 50%;
  height: 55%;
  max-width: 200px;
  max-height: 100px;
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  -mox-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  -webkit-transform: skew(-8deg) rotate(-3deg);
  -moz-transform: skew(-8deg) rotate(-3deg);
  -ms-transform: skew(-8deg) rotate(-3deg);
  -o-transform: skew(-8deg) rotate(-3deg);
  transform: skew(-8deg) rotate(-3deg);
}
.curled:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.perspective:before {
  left: 80px;
  bottom: 5px;
  width: 50%;
  height: 35%;
  max-width: 200px;
  max-height: 50px;
  -webkit-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
  -mox-box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
  -webkit-transform: skew(50deg);
  -moz-transform: skew(50deg);
  -ms-transform: skew(50deg);
  -o-transform: skew(50deg);
  transform: skew(50deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.perspective:after {
  display: none;
}
.raised {
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5) , 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -mox-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5) , 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5) , 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.curved:before {
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 50%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -mox-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 10px / 100px;
  border-radius: 10px / 100px;
}
.curved.v2:before {
  right: 0;
}
.curved.h1:before {
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.curved.h2:before {
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.rotated {
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
  box-shadow: none;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.rotated > :first-child:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -mox-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

marquee {
    margin-top:-15px;
    font-size: 30px;
    color: #f30d0d;
    
    
}

.drop-shadow4 {
  position: relative;
  float: right;
  width: 98%;
 margin-top: 10px;

  height: 100px;
  padding-left: 25px;
 padding-top: 30px;
  



     background: -moz-linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(128,128,128,1) 13%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 56%, rgba(192,192,192,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(192,192,192,1)), color-stop(44%, rgba(0,0,0,1)), color-stop(57%, rgba(0,0,0,1)), color-stop(87%, rgba(128,128,128,1)), color-stop(100%, rgba(128,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(128,128,128,1) 13%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 56%, rgba(192,192,192,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(128,128,128,1) 13%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 56%, rgba(192,192,192,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(128,128,128,1) 13%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 56%, rgba(192,192,192,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(128,128,128,1) 0%, rgba(128,128,128,1) 13%, rgba(0,0,0,1) 43%, rgba(0,0,0,1) 56%, rgba(192,192,192,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#808080',GradientType=0 ); /* ie6-9 */ 

}
   

.drop-shadow5 {
  position: relative;
 
  margin-top: -15px;

  height: 300px;
  padding-top:100px; 
  
  
  background: -webkit-linear-gradient(90deg, #1C1C1C 10%, #494949 90%); 
  background: -moz-linear-gradient(90deg, #1C1C1C 10%, #494949 90%); 
  background: linear-gradient(270deg, #1C1C1C 10%, #494949 90%); 
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -mox-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
}





h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 6px;
    line-height: 1px;
}
.inset-text {
    /* Shadows are visible under slightly transparent text color */
    color: #7a2222;
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px rgba(19,19,19,1);
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }         