f.hidden{
 display: none;

}
g.hidden{
 display: block;
}

form{
padding-top:5%;

}






body {
    background-color: #3980AB;
    	background-repeat: no-repeat;
}


ul {


    list-style-type: none;
    margin-right:-4px;
 margin-top:0px;
 margin-left:0px;
 margin-bottom:-4px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
 top: 10px;
right:10px;
z-index: 2;
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

right{

top: 41px;
width: 396px;
height: 364px;
padding: 7px;
border: 1px rgb(89,89,89) inset;

-webkit-box-sizing: initial;
-moz-box-sizing: initial;
box-sizing: initial;

background: rgb(246, 42, 15);

}



.effect5
{
  position: relative;
   z-index: 1;

}



.box {
 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;


	width:100%;
		min-height: 200px;
         background:#fff;
	margin:40px auto;


border-top: 6px solid black;
border-bottom: 6px solid black;
border-left: 6px solid white;
border-right: 6px solid black;

}
.box h3{
  text-align:center;
	position:relative;
	top:80px;

}







.coment{

margin-top:-30px;
        position: absulate;

	width:33%;
	background:#FFF000;
	margin-left:250px;


padding-top:-20px;
padding-bottom:10px;
padding-left:20px;
padding-right:-10px;
}
.counter{
background:red;
text-align: center;
margin-left:500px;
}
.likeno{


        position: absulate;
	text-align: left;
	width:17%;
	background:#FFF000;
	margin-left:17%;
margin-top:-20px;

}


.b{

        position :absulate;
	text-align: left;
	width:18%;
	background:#FFF000;
	margin-left:0%;
      margin-top:-38px;
}

.c{

        position: absulate;

	width:13%;
	background:#FFF000;
	margin-left:87%;
    margin-top:-25px;
text-align: center;
height: 20px;
}